<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title | default: site.github.repository_name }}</title>

  {% if page.description %}
    <meta name="description" content="{{ page.description | strip_html | strip_newlines | escape }}">
  {% elsif site.description %}
    <meta name="description" content="{{ site.description | strip_html | strip_newlines | escape }}">
  {% endif %}

  {% comment %} Open Graph / Twitter card metadata {% endcomment %}
  <meta property="og:type" content="website">
  <meta property="og:title" content="{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}">
  {% if page.description or site.description %}
    <meta property="og:description" content="{{ page.description | default: site.description | strip_html | strip_newlines | escape }}">
  {% endif %}
  {% if site.url %}
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  {% endif %}

  <meta name="twitter:card" content="summary_large_image">
  {% if site.twitter_username %}
    <meta name="twitter:site" content="@{{ site.twitter_username | replace: '@', '' }}">
  {% endif %}

  {% comment %} Favicon (optional) {% endcomment %}
  {% if site.favicon %}
    <link rel="icon" href="{{ site.favicon | relative_url }}">
  {% endif %}

  {% comment %} Allow other plugins/layouts to inject head content {% endcomment %}
  {{ content_for_head }}

  {% comment %} Theme stylesheet: most GitHub Pages themes provide their own CSS automatically. We don't hardcode theme CSS here to avoid duplicating theme behaviour. {% endcomment %}

  {% comment %} Custom Leiden colours stylesheet (overrides theme colours) {% endcomment %}
  <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">

</head>
